/*
	1740

	font-family: "AvantGardeCTT", "Regular";
	font-family: "Anurati", "Regular";

	lg: 1200px
	md: 992px
	sm: 767px
	xs: 576px
*/



* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-family: "AvantGardeCTT", "Regular";

}

.main-header {
	width: 100%;
	height: 145px;
	float: left;
	background-color: #414141;
	color: white;
}

/*.foot-header {
	width: 100%;
	height: 765px;
	float: left;
	background-color: #414141;
	color: white;
	margin-top: 180px;
}
*/
.container {
	width: 1740px;
	height: 100%;
	background-color: #414141;
	margin: 0 auto;
}

/*.main-no-header {
	display: block;
	width: 100%;
	height: 100%;
	background-color: white;
}*/



/*				Верхний слой HEADER				*/



.header {
	width: 1740px;
	height: 54px;
	float: left;
	border-bottom: 1px white solid;
	background-color: #414141;
}

.text-header {
	width: 50%;
	height: 100%;
	float: left;
}

.text-header p {
	font-size: 20px;
	margin-top: 15px;
}

.tel-header {
	width: 50%;
	height: 100%;
	float: left;
}

.tel-header .tel {
	float: left;
	margin-top: 15px;
	margin-left: 250px;
	font-size: 20px;
}

.tel-header .markstudio {
	float: left;
	margin-top: 15px;
	margin-left: 60px;
	font-size: 20px;
}

.tel-header .insta {
	float: left;
	margin-top: 10px;
	margin-left: 50px;
}


/*				Верхний слой ЗАКОНЧИЛСЯ HEADER				*/



/*					Верхний слой МЕНЮ 						*/



.header-menu {
	width: 1740px;
	height: 62px;
	background-color: #414141;
	float: left;
}

.logo  {
	width: 50%;
	height: 100%;
	float: left;
}

.logo a {
	float: left;
	font-size: 22px;
	width: 160px;
	height: 26px;
	margin-top: 18px;
	color: white;
	font-family: "Anurati", "Regular";
}

.menu  {
	width: 50%;
	height: 100%;
	float: left;
	border-left: 1px white solid;
}

.menu .q  {
	width: 14%;
	height: 100%;
	float: left;
}

.menu .w  {
	width: 20%;
	height: 100%;
}

.menu .e  {
	width: 30%;
	height: 100%;
}

.menu .r  {
	width: 23%;
	height: 100%;
}

.menu .t  {
	width: 13%;
	height: 100%;
}

.q,.w,.e,.r,.t {
	float: left;
	text-align: center;
	display: block;
	overflow: hidden;
}

.q a,.w a,.e a,.r a,.t a {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: hidden;
	text-decoration: none;
	color: white;
	font-size: 19px;
}

.q a {
	background-color: #888888;
}

.w a:hover,.e a:hover,.r a:hover,.t a:hover {
	background-color: #888888;
	transition: 0.8s linear;
}


/*					Верхний слой МЕНЮ ЗАКОНЧИЛСЯ			*/



/*					ТЕКСТ МЕНЮ 									*/
/*					СТАНЬ ВОСТРЕБОВАННЫМ 						*/

.text-main {
	width: 1740px;
	height: 155px;
	float: left;
	margin-top: 160px;
	border-bottom: 1px black solid;
}

.text-main-tt {
	width: 100%;
	height: 155px;
	float: left;
	margin-left: 25px;
}

.text-main-tt .pp {
	float: left;
	width: 100%;
	font-size: 36px;
	font-weight: 700;
	color: black;
}

.text-main-tt .pt {
	float: left;
	width: 100%;
	font-size: 22px;
	color: black;
	margin-top: 40px;
}


/*					КОНЕЦ ТЕКСТА МЕНЮ 						*/


.main-prepod {
	width: 1740px;
	height: 1100px;
	float: left;
	margin-top: 40px;
}

.main-prepod-min {
	width: 1680px;
	height: 1100px;
	float: left;
	margin-left: 30px;
}



/*		Карточка преподавателя		*/

.prepod {
	width: 1680px;
	height: 500px;
	float: left;
}

.prepod-two {
	margin-top: 100px;
}

.prepod-image {
	width: 490px;
	height: 500px;
	float: left;
	background-color: #414141;
}

.prepod-info {
	width: 1130px;
	height: 500px;
	float: left;
	margin-left: 60px;
	position: relative;
	color: black;
}

.prepod-info-top-text {
	width: 1130px;
	height: 75px;
	float: left;
	margin-top: 90px;
}

.prepod-info-top-text p {
	font-size: 22px;
}

.prepod-info-top-text .prepod-n-name {
	font-size: 30px;
	font-weight: 700;
}

.prepod-info-top-text .prepod-te-name {
	margin-top: 6px; 
}

.prepod-info-mid-text {
	width: 1130px;
	height: 170px;
	float: left;
	margin-top: 70px;
}

.prepod-info-mid-text p {
	font-size: 20px;
}


.sm-work {
	width: 1130px;
	height: 44px;
	float: left;
	position: absolute;
	bottom: 0
}

.sm-work a {
	width: 260px;
	height: 44px;
	float: left;

	text-align: center;
	display: block;
	overflow: hidden;
	text-decoration: none;
	color: black;
	padding-top: 8px;
	font-size: 18px;
	border: 2px black solid;
	border-radius: 30px;
}

.sm-work a:hover {
	color: white;
	background-color: #414141;
	border: 2px black solid;
	transition: 0.8s linear;
}

.foot-pre {
	width: 1740px;
	height: 200px;
	float: left;
	display: block;
}